@use '../abstracts/color' as *;
@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.control-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.form-group {
    .control {
        display: block;
        width: 100%;
        &:focus {
            border-color: rgb($primaryColor);
        }
    }
}
.control-radio-container {
    [type="radio"] {
        &:checked,
        &:not(:checked) {
            & + label {
                padding: 1.25rem;
                padding-left: 55px;
                display: block;
                &::before {
                    top: 1.25rem;
                    left: 1.25rem;
                }
                .title {
                    line-height: 24px;
                }
            }
        }
        &:checked {
            & + label {
                // background-color: rgb($primaryColor / 10%);
                border-color: rgb($primaryColor);
            }
        }
    }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:before {
    content: '';
    border-width: 6px;
    border-color: rgb($primaryColor);
}