@use '../abstracts/color' as *;
@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.control-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.form-group {
    .control {
        display: block;
        width: 100%;

        &:focus {
            border-color: rgb($primaryColor);
        }
    }
}

.control-radio-container {
    [type="radio"] {

        &:checked,
        &:not(:checked) {
            &+label {
                padding: 1.25rem;
                padding-left: 55px;
                display: block;

                &::before {
                    top: 1.25rem;
                    left: 1.25rem;
                    width: 22px;
                    height: 22px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: #bbb;
                }

                .title {
                    line-height: 24px;
                }
            }
        }

        &:checked {
            &+label {
                border-color: rgb($primaryColor);

                &::before {
                    border-width: 6px;
                    border-color: rgb($primaryColor);
                }
            }
        }
    }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:before {
    content: '';
    border-color: rgb($primaryColor);
}

.control-check {
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;

        &:checked {
            &+label {
                &::before {
                    border-color: rgb($primaryColor);
                    background-color: rgb($primaryColor);
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 2px;
                    left: 8px;
                    width: 6px;
                    height: 12px;
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }
    }

    label {
        position: relative;
        cursor: pointer;
        &:hover {
            &::before {
                border-color: #ccc;
            }
        }

        &::before {
            content: '';
            background-color: transparent;
            border: 2px solid rgb($borderColor);
            display: inline-block;
            width: 22px;
            height: 22px;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 10px;
            margin-bottom: 5px;
            @include border-radius(0.25rem);
        }
    }
}

.react-select__control {
    &.control-select {
        padding: 1rem;
        border-width: 2px;
        border-radius: 0.375rem;
        border-color: rgb($borderColor);
        outline: none !important;
        box-shadow: none !important;

        &:hover {
            border-color: rgb($borderColor);
        }
    }

    &.react-select__control--is-focused {
        border-color: rgb($primaryColor) !important;
    }

    .react-select__value-container {
        padding: 0;

        .react-select__placeholder {
            margin: 0;
        }

        .react-select__input-container {
            margin: 0;
            padding: 0;
        }
    }

    .react-select__indicators {
        .react-select__indicator-separator {
            display: none;
        }

        .react-select__indicator {
            padding: 0;
        }
    }

    &+ {
        .react-select__menu {
            .react-select__menu-list {
                .react-select__option {
                    &.react-select__option--is-focused {
                        background-color: rgb($primaryColor/10%);
                    }

                    &.react-select__option--is-selected {
                        background-color: rgb($primaryColor) !important;
                    }
                }
            }
        }
    }
}

.react-tel-input {
    &.phone-input-container {
        .form-control {
            font-size: initial;
            padding: 1rem;
            border-width: 2px;
            border-radius: 0.375rem;
            border-color: rgb($borderColor);
            width: 100%;
            height: auto;
            line-height: unset;
            padding-left: 52px;

            &:focus {
                border-color: rgb($primaryColor);
            }
        }

        .flag-dropdown {
            background-color: transparent !important;
            border: none;
            border-radius: unset;

            .selected-flag {
                padding-left: 1.25rem;
                min-width: 52px;
                background-color: transparent !important;
            }
        }
    }
}

.react-datepicker__portal {
    .react-datepicker {
        font-family: $primaryFont;

        .react-datepicker__navigation {
            top: 0.75rem;
        }

        .react-datepicker__navigation-icon {
            top: unset;
            font-size: unset;
            width: auto;

            &::before {
                border-width: 2px 2px 0 0;
            }
        }

        .react-datepicker__header {
            background-color: #fff;
            border: none;
            font-weight: 600;
            padding-top: 1rem;
        }

        .react-datepicker__day--selected {
            background-color: rgb($primaryColor);
        }

        .react-datepicker__day--outside-month {
            opacity: 0.5;
        }

        .react-datepicker__day--keyboard-selected {
            background-color: rgb($primaryColor/10%);
        }
    }
}

.react-tagsinput {
    &.react-tagsinput--focused {
        border-color: rgb($primaryColor);
    }
    & > span {
        @include flexbox;
        @include flex-wrap(wrap);
        gap: 5px;
    }
    .react-tagsinput-tag {
        background-color: #333;
        color: #fff;
        padding: 0.25rem 0.5rem;
        font-size: 14px;
        @include border-radius(0.25rem);
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        gap: 5px;
        .react-tagsinput-remove {
            &::before {
                content: "\00d7";
                color: #fff;
            }
        }
    }
}