.preview {
    @media screen and (max-width: 575px) {
        min-width: 500px;
    }
}
.settingsController {
    @media screen and (max-width: 1023px) {
        min-width: 300px;
        width: 300px;
        right: -300px;
        transition: all 0.2s ease;
    }
    &.opened {
        right: 0 !important;
    }
}
.settingsToggler {
    width: 45px;
    height: 45px;
    right: 1rem;
    bottom: 1rem;
}